body{
    margin: 0;
    padding: 10px;
    background-color:rgb(27, 147, 221);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

.container{
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 0.4fr 0.4fr;
    grid-template-areas: 
    "in in"
    "btn1 btn2"
    "ul ul";
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 10px;
    padding-bottom: 90px;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.189);
}
input{
    grid-area: in;
    /* background-color: teal; */
    color: #5ec749;
    font-weight: 900;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

button{
    border-radius: 10px;
    font-weight: 900;
    color: white;
    background-color:#5ec749;
    padding: 10px 20px;
    border: 1px solid #5ec749;
}

#input-btn{
    grid-area: btn1;
}

#del-btn{
    grid-area: btn2;
    background-color: rgba(0, 0, 0, 0.237);
    color:#5ec749;
}

#ul-el{
    grid-area: ul;
}


ul{
    margin-top: 20px;
   list-style: none; 
   padding-left: 0;    
}
li{
    margin-top: 5px;
}

a{
    color: #5ec749;
    font-weight: 800;
    font-size: 1.1rem;
}
